*.iml
.gradle
*.properties
.DS_Store
/build
/captures
.idea

translation_verifyer
theme_generator
/themes
/app/build
.gradle/buildOutputCleanup
.idea/workspace.xml
eureka-manager.keystore
*.apk
*.apk.idsig
hs_err_pid*.log
replay_pid*.log
